<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adinkra.name %>
</p>

<p>
  <strong>Icon png:</strong>
  <%= @adinkra.icon_png %>
</p>

<p>
  <strong>Icon svg:</strong>
  <%= @adinkra.icon_svg %>
</p>

<p>
  <strong>Translation:</strong>
  <%= @adinkra.translation %>
</p>

<p>
  <strong>Meaning:</strong>
  <%= @adinkra.meaning %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @adinkra.origin %>
</p>

<p>
  <strong>Proverb:</strong>
  <%= @adinkra.proverb %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @adinkra.theme %>
</p>

<%= link_to 'Edit', edit_adinkra_path(@adinkra) %> |
<%= link_to 'Back', adinkras_path %>
