- content_for :title do
    Akwaaba! | #{t('app.name')}

%section{:class => "home__hero"}
    %span{:class => "home__hero--text"}
        %h1{:class => "home__hero--text-header home__hero--title"} Akwaaba!
        %h2{:class => "home__hero--text-header home__hero--welcome"} Welcome to the Adinkra Project

%section{:class => "home__about"}
    %div{:class => "home__content"}
        %div{:class => "home__content--text"}
            %p{:class => ""} Adinkra are visual symbols that represent concepts or aphorisms. Adinkra are used extensively in fabrics and pottery among the Ashantis of Ashanti Kingdom and Baoulés of Cote d'Ivoire. They are incorporated into walls and other architectural features.
            %p{:class => ""} Adinkra symbols appear on some traditional Akan goldweights. The symbols are also carved on stools for domestic and ritual use. Tourism has led to new departures in the use of the symbols in such items as T-shirts and jewellery.
            %p{:class => ""}=link_to('~ Wikipedia', "https://en.wikipedia.org/wiki/Adinkra_symbols")

    %img{:class => "adinkra__stamps", :src => "/images/AdinkraCalabashStamps.jpg"}

%section{:class => "home__cta"}
    = link_to('View All Symbols', adinkra_symbols_path, :class => "view--symbols text-center")
    -# %h1 Popular Symbols