// Place all the styles related to the AdinkraSymbols controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main {
    background: rgba(235, 234, 240, 0.50);
    padding-bottom: 40px;
}

.adinkra--list__wrapper {
    padding: 0 0 100px 0.8%;
}

.adinkra__details--page {
    background-image: linear-gradient(0deg, #FFFFFF 0%, #EFF8FC 100%);
    padding: 50px 0 150px;
    margin-bottom: -40px;
}

.adinkra__card {
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E4EA;
    border-radius: 5px;
    width: 22%;
    height: 275px;
    margin: 1%;
    margin-bottom: 1%;
    transition: all 0.15s;
    &:hover {
        background: #fff;
        border: 1px solid transparent;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
    }
}

.adinkra__image--holder {
    padding: 10% 10% 7.5%;
}

.adinkra__image {
    width: 100%;
}

.adinkra__title {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0 5px;
}

.bio {
    display: flex;
    padding: 40px 4% 0;
}

.bio--icon {
    float: left;
    width: auto;
    height: 400px;
}

.bio--data {
    margin-left: 50px;
}

.bio--data__name {
    font-size: 3em;
    line-height: 1.2;
    font-weight: 400;
    margin: 30px 0 20px;
}

.translation--header {
    color: #ea7f09;
    margin: 30px 0 15px;
    padding-top: 20px;
    border-top: 1px solid #3332;
}

.translation {}

.meaning {}

.themes {}

.download {}

@media (max-width: 960px) {
    .adinkra--list__wrapper {
        padding: 0;
        margin: 0 calc(50% - 422px);
    }
    .adinkra__card {
        width: 190px;
        height: 30vw;
        height: -webkit-fill-available;
        height: -moz-fill-available;
        max-height: 255px;
        margin: 0.9%;
        margin-bottom: 20px;
    }
}

@media (max-width: 840px) {
    .adinkra--list__wrapper {
        padding: 0 6% 100px 6.8%;
    }
    .adinkra__card {
        width: 30%;
        max-height: 280px;
        margin: 1.2%;
    }
    .bio--icon {
        height: 300px;
    }
    .bio--data {
        margin-left: 40px;
    }
    .bio--data__name {
        font-size: 2em;
        line-height: 1.2;
        font-weight: 400;
        margin: 30px 0 20px;
    }
}

@media (max-width: 780px) {
    .adinkra--list__wrapper {
        padding: 0;
        margin: 0 calc(50% - 332px);
    }
    .adinkra__card {
        width: 200px;
        height: 265px;
        margin: 1.2%;
    }
}

@media (max-width: 672px) {
    .adinkra--list__wrapper {
        padding: 0;
        margin: 0 calc(50% - 255px);
    }
    .adinkra__card {
        width: 220px;
        height: 285px;
        margin: 1.2% 3% 20px;
    }
    .bio {
        display: inline-block;
        padding: 40px 5% 0;
    }
    .bio--icon {
        float: unset;
        display: block;
        margin: 0 auto;
    }
    .bio--data {
        margin: 0;
    }
}

@media (max-width: 568px) {
    .adinkra--list__wrapper {
        padding: 0 6% 100px 6.8%;
    }
    .adinkra__card {
        width: 45%;
        height: 265px;
        margin: 2%;
    }
}

@media (max-width: 480px) {
    .adinkra--list__wrapper {
        padding: 0px 0% 100px 6%;
        margin: 0
    }
    .adinkra__card {
        width: 42%;
        height: auto;
        margin: 0% 2% 20px;
        background: none;
        border: 0;
        &:hover {
            background: none;
            box-shadow: none;
            border: none;
            box-sizing: border-box;
            .adinkra__image--holder {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
                top: -3px;
                position: relative;
            }
            .adinkra__image {
                width: 96%;
                margin-left: 2%;
            }
        }
    }
    .adinkra__image--holder {
        padding: 10%;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #E6E4EA;
    }
    .adinkra__title {
        padding: 5px 7.5px 0;
        justify-content: normal;
        text-align: start;
    }
}