// Place all the styles related to the AdinkraSymbols controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
footer {
    color: white;
    width: 100%;
    background: #193266 url(freedom.png) no-repeat 95% calc(100% - 58px);
}

.backstory {
    color: #193266;
    background: #D8D8D8;
    padding: 30px;
    width: max-content;
    margin: 0 0 0 50px;
    top: -30px;
    position: relative;
}

@media( max-width: 450px) {
    .backstory {
        margin: 0;
    }
}

.blurb {
    margin-top: 100px;
    & p {
        width: 50%;
    }
}

.footer--container {
    max-width: 80%;
    margin: 0 auto;
}

.authorship {
    border-top: #D6D7D9 5px solid;
    min-height: 50px;
    padding-bottom: 2px;
}

.author--container {
    width: 90.5%;
    margin: 0 auto;
}

.author--text {
    margin: 0.9em 0;
    font-size: 16px;
}

@media (max-width: 480px) {
    footer {
        background-position: center calc(100% - 58px);
    }
    .blurb {
        margin: 50px 0 200px;
        & p {
            width: 100%;
        }
    }
    .author--container {
        width: max-content;
        text-align: center;
    }
}