// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .main__nav {
//     background: #151377;
//     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
//     padding: 10px;
// }
.home__hero {
    background-image: url(/images/hero-bg.png);
    background-repeat: repeat;
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 60vh;
}

.home__hero--text {
    display: block;
    position: relative;
    top: 20vh;
    text-align: center;
}

.home__hero--text-header {
    line-height: 1;
    margin: 0;
}

.home__hero--title {
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    color: #031B4E;
}

.home__hero--welcome {
    font-family: "SanFranciscoText-Regular";
    font-weight: 300;
    font-size: 1.8em;
    color: #151377;
}

.home__about {
    display: inline-block;
    padding: 100px 120px;
    background: #EBEAF0;
}

.home__content {
    max-width: 35%;
    float: left;
    margin-right: 6.25%;
    background-image: url('/images/quote.svg');
    background-repeat: no-repeat;
    padding-top: 1.5em;
}

.adinkra__stamps {
    width: 58%;
}

.sf-display {
    font-family: "SanFranciscoDisplay-Regular", serif;
}