// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .main__nav {
//     background: #151377;
//     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
//     padding: 10px;
// }
main {
    background: #fff;
    padding-bottom: 40px;
}

.home__hero {
    background: #fff url(http://cdn.interacht.com/adinkraproject/hero-bg.png);
    background-repeat: repeat;
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 60vh;
}

.home__hero--text {
    display: block;
    position: relative;
    top: 20vh;
    text-align: center;
}

.home__hero--text-header {
    line-height: 1;
    margin: 0;
}

.home__hero--title {
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    color: #031B4E;
}

.home__hero--welcome {
    // font-family: "SanFranciscoText-Regular";
    font-weight: 300;
    font-size: 1.8em;
    color: #151377;
}

.home__about {
    display: inline-block;
    padding: 100px 120px;
    background: #EBEAF0;
}

.home__content {
    float: left;
    background: url(http://cdn.interacht.com/adinkraproject/adinkra-calabash-stamps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home__content--text {
    max-width: 35%;
    float: left;
    background: #EBEAF0 url(http://cdn.interacht.com/adinkraproject/quote.svg);
    background-repeat: no-repeat;
    padding: 1.5em 60px 0 0;
}

.adinkra__stamps {
    // width: 58%;
    display: none;
}

@media (max-width: 960px) {
    .home__content--text {
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    .home__about {
        padding: 50px 60px;
    }
    .home__content--text {
        padding: 1.5em 30px 0 0;
    }
}

@media (max-width: 600px) {
    .home__about {
        padding: 0;
    }
    .home__content {
        background: none;
    }
    .home__content--text {
        padding: 0;
        max-width: 100%;
        margin: 35px 30px 20px 30px;
    }
    .adinkra__stamps {
        display: inline-block;
        width: calc(100% - 60px);
        padding: 0 30px 30px;
    }
}

.home__cta {
    padding: 80px 0 60px;
}

.view--symbols {
    display: block;
    font-size: 1.5em;
    border: 1px #4b42d1 solid;
    border-radius: 3px;
    width: 8em;
    left: calc(50% - 4.5em);
    position: relative;
    padding: 10px;
}

.page--title {
    margin: 0;
    padding: 40px 0 30px;
}