body {
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Avenir', 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bariol', 'Gill Sans', 'Century Gothic', Georgia, serif;
    color: #193266;
    font-weight: 100;
}

h1 {
    font-size: 2.5em;
}

.container--960 {
    max-width: 960px;
    margin: 0 auto;
}

.container--1200 {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: rgb(47, 35, 224);
    text-decoration: none;
    &:visited {
        color: rgb(75, 66, 209);
    }
    &:hover {
        color: rgb(47, 35, 224);
    }
}

.adinkra--symbol__name {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Noto Sans", 'Segoe UI', sans-serif;
}

.text-center {
    text-align: center;
}

.text--align__right {
    text-align: right;
}