body {
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', arial, helvetica, sans-serif;
}

.container--960 {
    max-width: 960px;
    margin: 0 auto;
}

.container--1200 {
    max-width: 1200px;
    margin: 0 auto;
}

p,
ol,
ul,
td {
    font-family: 'Noto Sans', arial, helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: #000;
    &:visited {
        color: #666;
    }
    &:hover {
        color: #fff;
        background-color: #000;
    }
}

.text-center {
    text-align: center;
}