%footer
    .backstory
        Loving the project? Read the
        = link_to('back story', "#")
    .blurb
        .footer--container
            %p The Adinkra Project provides a complete catalogue of Adinkra symbols, presented in a consistent and well-designed layout, for educational, aesthetic, and cultural usefulness.
    -# = "&copy; #{Date.today.year} #{t('app.author')}.".html_safe
    .authorship
        .author--container
            %p.author--text.text--align__right Built with love from Accra