
%meta{'charset' => 'utf-8'}
%meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}
%meta{'name' => 'viewport', 'content' => 'width=device-width' , 'initial-scale' => '1.0'}
%meta{'name' => 'description', 'content' => 'The Adinkra Proejct is a personal project by Claude Ayitey, to help project the sysmbols which have been synonimous with tradition and communication for centuries.'}
%meta{'name' => 'keywords', 'content' => 'adinkra, adinkra symbols, african tradition'}
%meta{'name' => 'google-site-verification', 'content' => 'R-X-aWDzmgHZTnrWmpfzQR8q5qqbuyz50AlSKu-Z5B4'}
%meta{'name' => 'theme-color', 'content' => "#EBEAF0"}

:javascript
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
        {'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);}
    )(window,document,'script','dataLayer','GTM-59374MR');

= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
%link{:href => "https://fonts.googleapis.com/css?family=Noto+Sans", :rel => "stylesheet"}/
